---
layout: home
---

<div class="main" role="main">
  <div class="primary interior">
    <div class="clearfix p1 mx-auto">
      <div class="col-12 md-col-8">
        <h2>{{ page.title }}</h2>
        {{ content }}
      </div>
    </div>
  </div>

  <div class="secondary p2">
    <div class="clearfix p1">
        <div class="col-12">
          <p>Ad Hoc LLC is an Equal Opportunity/Affirmative Action Employer. All qualified applicants will receive consideration for employment without regard to race, color, national origin, ancestry, sex, sexual orientation, gender identity or expression, religion, age, pregnancy, disability, work-related injury, covered veteran status, political ideology, marital status, or any other factor that the law protects from employment discrimination.</p>
        </div>
      </div>
  </div>
</div>
