---
layout: home
---

<div class="main" role="main">
  <div class="primary interior alt">
    <div class="row">
      <div class="small-12 large-9 columns">
        {{ content }}
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-9 columns">
        We offer the following benefits:
        <ul>
          <li>Company-subsidized health, dental, and vision insurance</li>
          <li>Flexible annual leave</li>
          <li>Bonus plan</li>
          <li>401K</li>
          <li>Continuing education benefits</li>
        </ul>
      </div>
    </div>

    <div class="band">
      <div class="row">
        <div class="small-12 columns">
          <p>Ad Hoc LLC is an Equal Opportunity/Affirmative Action Employer. All qualified applicants will receive consideration for employment without regard to race, color, national origin, ancestry, sex, sexual orientation, gender identity or expression, religion, age, pregnancy, disability, work-related injury, covered veteran status, political ideology, marital status, or any other factor that the law protects from employment discrimination.</p>
        </div>
      </div>
    </div>
  </div>
</div>
